[Unit]
Description=Project LINK rf2o fallback mapping mode
Requires=project-link-platform.target project-link-rf2o-fallback.service
After=project-link-platform.target project-link-rf2o-fallback.service
Conflicts=project-link-mapping.target project-link-navigation.target
